<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>fluentd.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <tag>dunklog</tag>
        <label>logging</label>
         30001
        <remoteHost>192.168.5.8</remoteHost>
        <port>30001</port>
        <additionalField>
            <key>owner</key>
            <value>dunktrade2</value>
        </additionalField>
    </appender>
    <logger name="ROOT" level="DEBUG">
      <appender-ref ref="CONSOLE" />
        <appender-ref ref="FLUENT" />
    </logger>
    <logger name="fluentd" level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FLUENT" />
    </logger>
</configuration>